.a1{
    background-color: aliceblue;
    padding: 370px;
    margin-top: 20px;
    position: relative;
    top: 90px; 
    left: 50px;
    margin-right: 90px;

}
.a2{
    float: right; height: 600px; width: 650px; position: absolute;bottom: 120px; right: 40px; 
    z-index: 2;
}
.a3{
    color: black; text-align:left;position: absolute;bottom: 410px;left: 480px; font-size:75px;font-style:normal; 
}
.a4{
    text-align: left; position: absolute; bottom: 300px;left: 500px; font-size:large; font-style:normal;
}
.a5{
    position: absolute;margin-left: 130px;bottom: 240px;
}
.a6{
    color: black;
}
.a7{
    background-color: black;color: aliceblue; position: absolute;bottom: 190px;
    padding: 10px;left: 500px;padding-left: 35px;padding-right: 35px;border-radius: 10px;
}
.ork{
    height: 820px;
    width: 500px;
    background-color: rgb(224, 157, 32);
    position: absolute;
    right: 45px;
    top:80px;
    bottom: 50px;
    z-index: 1;
}
.a8 img{
    position: absolute;
    top:200px;
    right:190px;
    width: 600px;
    height: 600px;
    z-index: 1;
}
